// localization.h - English Version
#ifndef LOCALIZATION_H
#define LOCALIZATION_H

// --- System Messages ---
#define MSG_SYSTEM_ONLINE    "🤖 **Cloe System Online**\nController rebooted successfully.\nThe stove is OFF ❄️"

// --- Commands and Status ---
#define CMD_ON               "/on"
#define CMD_OFF              "/off"
#define CMD_STATUS           "/status"

// --- Bot Responses ---
#define RESP_STOVE_ON        "🔥 Command sent: The stove is turning ON"
#define RESP_STOVE_OFF       "❄️ Command sent: The stove is turning OFF"
#define RESP_STATUS_HEADER   "The stove is "
#define ST_LABEL_OFF         "off ❄️"
#define ST_LABEL_WORK        "on (Work) 🔥"
#define ST_LABEL_MOD         "on (Modulating) 📉"
#define ST_LABEL_KICK        "on (Kickstart) 📉"
#define ST_THERMO            "🌡 Temp: %TMP%°C / Target: %TGT%°C"
#define RESP_TEMP_UPDATED     "🌡 Setpoint updated to "
#define RESP_TEMP_INVALID     "⚠️ Invalid value. Use a value between 10° e 30°C"
#define RESP_TEMP_HELP        "Use: /set_temp XX.X (e.g., /set_temp 21.5)"

#define MSG_UNAUTHORIZED     "⚠️ Access denied. You are not on the authorized list.\nYour ID: "
#define MSG_REQ_SENT         "Authorization request sent to the owner 📨"
#define MSG_WAIT_ADMIN       "Please wait for the owner to approve your request."

#define ADMIN_NOTIF_REQ      "🔔 *New access request*\nUser: "
#define ADMIN_NOTIF_ID       "\nID: "
#define ADMIN_BTN_AUTH       "Authorize ✅"
#define ADMIN_AUTH_SUCCESS   "User successfully authorized and saved to memory! 💾"

#define USER_GRANTED         "🎉 Great news! The owner has accepted your request. You can now use the /menu command"

// CRONO
#define TIMEZONE                    "Europe/Rome"
#define MSG_CHRONO_STATUS           "📅 *Chrono Status*\n"
#define MSG_CHRONO_ON               "Chrono: ACTIVE ✅"
#define MSG_CHRONO_OFF              "Chrono: DISABLED ❌"
#define MSG_CHRONO_SETTINGS         "\nSchedules: "
#define RESP_CHRONO_UPDATED         "✅ Schedule updated successfully!"
#define RESP_CHRONO_INVALID         "⚠️ Invalid format! Use %CMD% HH:MM (e.g., %CMD% 07:30)"
#define RESP_CHRONO_INVALID_SAME    "⚠️ Start time and end time cannot be the same"
#define RESP_CHRONO_HELP            "🕒 Use: `%CMD% HH:MM` (e.g.: `%CMD% 07:00` - click to copy)"

#endif