#ifndef SECRETS_H
#define SECRETS_H

// Rinomina questo file in secrets.h e inserisci i tuoi dati
#define WIFI_SSID "YOUR_NETWORK"
#define WIFI_PASS "NETWORK_PASS"
#define BOT_TOKEN "123456789:ABCDefgh_YOUR_TELEGRAM_BOT_TOKEN"
#define MY_CHAT_ID "123456789_YOUR_TELEGRAM_USER_ID"

#endif